body {
    background: #E9E7DA;
}

h1, p{
    color:#CDA34F;
    justify-content: center;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

h2{
    color: #636B46;
    text-align: left;
    font-family: 'Roboto', sans-serif;
}

h3{
    color:#636B46;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

.leftalign {
    float: left;
    padding: 0 0 0 0;
    border: 5px solid #ffffff;
}

p{
    clear:left;
    margin: 0 0 0% 5%;
}

.text{
    color:#373737;
    padding: 10px 10px 5% 5%;
    font-family: 'Roboto', sans-serif;
}
.quotes{
    color:#CDA34F;
    margin: 0 0 5% 5%;
}
