body {
    background: #E9E7DA;
}

h1{
    color:#CDA34F;
    justify-content: center;
    text-align: center;
    font-family: 'Dancing Script', cursive;
}

h2, h3{
    color:#CDA34F;
    text-align: left;
    font-family: 'Dancing Script', cursive;
    margin: 0 20% 0 20%;
}

.photo {
    float: right;
    border: 5px solid #CDA34F;
    margin: 0 20% 0 20px;
}

p{
    clear:right;
    margin: 0 0 0 5%;
}

.text{
    color: #636B46;
    justify-content: center;
    font-size: larger;
    font-family: 'Roboto Slab', serif;
    margin: 0 20% 20px 20%;
}

.quotes{
    color: #636B46;
    margin: 0 20% 0 20%;
    font-family: 'Roboto Slab', serif;
}
